<a href="https://colab.research.google.com/github/reighrey19/shiara_INFO4670_Spring2026/blob/main/Assignment_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Quality Check

1.1 Using Python (pandas, matplotlib, or seaborn), load and inspect the Assignment 2 dataset.

In [1]:
# Write your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment 2 dataset.csv to Assignment 2 dataset.csv

Write code to explore the data distribution (e.g., region, type, year) and check whether there is any bias. Provide both the code and your interpretation.

In [2]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")
print('Shape', df.shape)
df.head()

Shape (18254, 14)

,Column 1,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,12-27-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,12-20-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,12-13-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,12-6-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,11-29-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

1.2 Write Python code to check for duplicate rows and missing values in the dataset. Show the number of duplicates and missing values for each column. Then, explain (in comments or markdown) how you would handle these issues (e.g., drop, impute, or replace).

In [3]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")

find_duplicates = df.duplicated().sum()
print("Number of duplicate rows:", find_duplicates)

find_missing_values = df.isnull().sum()
print("Number of missing values per column:\n", find_missing_values)

#

Number of duplicate rows: 2
Number of missing values per column:
 Column 1        0
Date            0
AveragePrice    0
Total Volume    1
4046            2
4225            1
4770            1
Total Bags      1
Small Bags      2
Large Bags      2
XLarge Bags     1
type            1
year            0
region          0
dtype: int64

The output shows two duplicates but I cannot see them. It seems like there are missing values past the decimal point. It would be safe to assume the missing value is a "0" and could be added to standarize the data.

1.3 Use Python code to print the number of rows and columns in the dataset (e.g., with df.shape). Based on the dataset size, explain (briefly) whether you think the dataset is sufficient for training a machine learning model.

In [4]:
rows, columns = df.shape
print('Rows:', rows)
print('Columns:', columns)

Rows: 18254
Columns: 14

Yes, the data set is big enough to provide enough information for a machine learning model to use for training purposes.

#2. Data Cleaning and Preprocessing

2.1 Remove the first column or “Column 1” from the dataset. Treat the ‘year’ variable as nominal.

In [5]:
df= df.drop("Column 1", axis=1,errors= 'ignore')
for col in ['year']:
  if col in df.columns:
    df[col] = df[col].astype('category')
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,12-27-2015,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,12-20-2015,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,12-13-2015,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,12-6-2015,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,11-29-2015,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

2.2 Check for duplicate values and remove them.

In [6]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")

print("Number of duplicate rows before removal:", df.duplicated().sum())
df = df.drop_duplicates(inplace=False)
print("Number of duplicate rows after removal:", df.duplicated().sum())

Number of duplicate rows before removal: 2
Number of duplicate rows after removal: 0

2.3 Check for missing values. If a data record (row) only has a few missing values, replace the missing values with the median of the column feature in that specific “Region” variable. If most column values in a data record are missing, remove the data record.

In [7]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")
find_missing_values = df.isnull().sum() #check for missing values
print("Number of missing values per column:\n", find_missing_values)


limitPer = len(df.columns) * .51 #anything over 51% is considered "most".
df = df.dropna(thresh=limitPer, axis=1)

df['AveragePrice'] = df['AveragePrice'].fillna(df['AveragePrice'].mean())
df['Total Volume'] = df['Total Volume'].fillna(df['Total Volume'].mean())
df['4046'] = df['4046'].fillna(df['4046'].mean())
df['4225'] = df['4225'].fillna(df['4225'].mean())
df['4770'] = df['4770'].fillna(df['4770'].mean())
df['Total Bags'] = df['Total Bags'].fillna(df['Total Bags'].mean())
df['Small Bags'] = df['Small Bags'].fillna(df['Small Bags'].mean())
df['Large Bags'] = df['Large Bags'].fillna(df['Large Bags'].mean())

print(df)

Number of missing values per column:
 Column 1        0
Date            0
AveragePrice    0
Total Volume    1
4046            2
4225            1
4770            1
Total Bags      1
Small Bags      2
Large Bags      2
XLarge Bags     1
type            1
year            0
region          0
dtype: int64
       Column 1        Date  AveragePrice   Total Volume          4046  \
0             0  12-27-2015          1.33   64236.620000    1036.74000
1             1  12-20-2015          1.35   54876.980000     674.28000
2             2  12-13-2015          0.93  118220.220000     794.70000
3             3   12-6-2015          1.08   78992.150000    1132.00000
4             4  11-29-2015          1.28   51039.600000     941.48000
...         ...         ...           ...            ...           ...
18249        10   1-14-2018          1.93   16205.220000    1527.63000
18250         9   1-21-1904          1.87   13766.760000    1191.92000
18251         8   1-28-2018          1.71   13888.040000  292960.52519
18252        11    1-7-2018          1.62  850460.939476  292960.52519
18253         7    2-4-2018          1.63   17074.830000    2046.96000

                4225          4770     Total Bags     Small Bags  \
0       54454.850000     48.160000    8696.870000    8603.620000
1       44638.810000     58.330000    9505.560000    9408.070000
2      109149.670000    130.500000    8145.350000    8042.210000
3       71976.410000     72.580000    5811.160000    5677.400000
4       43838.390000     75.780000    6183.950000    5986.260000
...              ...           ...            ...            ...
18249    2981.040000    727.010000   10969.540000   10919.540000
18250    2452.790000    727.940000    9394.110000    9351.800000
18251    3431.500000      0.000000    9264.840000  182166.566714
18252  295090.457046  22834.810556  239589.049775  182166.566714
18253    1529.200000      0.000000   13498.670000   13066.820000

         Large Bags  XLarge Bags          type  year            region
0         93.250000          0.0  conventional  2015            Albany
1         97.490000          0.0  conventional  2015            Albany
2        103.140000          0.0  conventional  2015            Albany
3        133.760000          0.0  conventional  2015            Albany
4        197.690000          0.0  conventional  2015            Albany
...             ...          ...           ...   ...               ...
18249     50.000000          0.0       organic  2018  WestTexNewMexico
18250     42.310000          0.0       organic  1904  WestTexNewMexico
18251  54329.185553          0.0       organic  2018  WestTexNewMexico
18252  54329.185553          NaN           NaN  2018  WestTexNewMexico
18253    431.850000          0.0       organic  2018  WestTexNewMexico

[18254 rows x 14 columns]

2.4 Find the correlation between the variables and describe how the correlated values among the variables impact the model accuracy.

In [8]:
import pandas as pd

correlation_matrix = df.corr(numeric_only=True)
print(correlation_matrix)

              Column 1  AveragePrice  Total Volume      4046      4225  \
Column 1      1.000000     -0.133205      0.014087  0.017663  0.019880
AveragePrice -0.133205      1.000000     -0.192779 -0.208330 -0.172957
Total Volume  0.014087     -0.192779      1.000000  0.977862  0.974181
4046          0.017663     -0.208330      0.977862  1.000000  0.926109
4225          0.019880     -0.172957      0.974181  0.926109  1.000000
4770          0.041792     -0.179467      0.872204  0.833389  0.887856
Total Bags   -0.002167     -0.177115      0.963048  0.920056  0.905789
Small Bags    0.000385     -0.174747      0.967237  0.925281  0.916031
Large Bags   -0.009158     -0.172956      0.880639  0.838646  0.810016
XLarge Bags  -0.011505     -0.117615      0.747159  0.699379  0.688811
year         -0.124118      0.064438      0.014011  0.003606 -0.006031

                  4770  Total Bags  Small Bags  Large Bags  XLarge Bags  \
Column 1      0.041792   -0.002167    0.000385   -0.009158    -0.011505
AveragePrice -0.179467   -0.177115   -0.174747   -0.172956    -0.117615
Total Volume  0.872204    0.963048    0.967237    0.880639     0.747159
4046          0.833389    0.920056    0.925281    0.838646     0.699379
4225          0.887856    0.905789    0.916031    0.810016     0.688811
4770          1.000000    0.792316    0.802733    0.698472     0.679864
Total Bags    0.792316    1.000000    0.994333    0.943008     0.804234
Small Bags    0.802733    0.994333    1.000000    0.902590     0.806845
Large Bags    0.698472    0.943008    0.902590    1.000000     0.710860
XLarge Bags   0.679864    0.804234    0.806845    0.710860     1.000000
year         -0.026417    0.054704    0.048991    0.066914     0.061542

                  year
Column 1     -0.124118
AveragePrice  0.064438
Total Volume  0.014011
4046          0.003606
4225         -0.006031
4770         -0.026417
Total Bags    0.054704
Small Bags    0.048991
Large Bags    0.066914
XLarge Bags   0.061542
year          1.000000

#3. Exploratory Data Analysis (EDA)

3.1 Describe the variables
- Describe all variables in the dataset.
- For continuous variables: report **range (min, max), mean, median, and distribution**.
- For categorical variables: list unique values.

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv("Assignment 2 dataset.csv")

print("Numerical Variables Summary:")
print(df.describe(include=np.number))

print("\nCategorical Variables Summary:")
print(df.describe(include='object'))

print("\nDetailed statistics for continuous variables")

for col in df.select_dtypes(include=np.number).columns:
    print(f"\nVariable: {col}")
    if not df[col].isnull().all():
        print(f"  Range (min, max): ({df[col].min():.2f}, {df[col].max():.2f})")
        print(f"  Mean: {df[col].mean():.2f}")
        print(f"  Median: {df[col].median():.2f}")

        if df[col].nunique() < 50:
            print(f"  Distribution (Value Counts):\n{df[col].value_counts().sort_index().to_string()}")
        else:
            print(f"  Distribution (first 5 unique values and counts):\n{df[col].value_counts().head().to_string()}")
    else:
        print(f"  Variable {col} has all missing values.")

print("\nDetailed unique values for categorical variables")

for col in df.select_dtypes(include='object').columns:
    print(f"\nVariable: {col}")
    print(f"  Unique values: {df[col].unique()}")
    print(f"  Value counts:\n{df[col].value_counts().to_string()}")

Numerical Variables Summary:
           Column 1  AveragePrice  Total Volume          4046          4225  \
count  18254.000000  18254.000000  1.825300e+04  1.825200e+04  1.825300e+04
mean      24.228060      1.406073  8.504609e+05  2.929605e+05  2.950905e+05
std       15.480994      0.402668  3.453189e+06  1.264891e+06  1.203996e+06
min        0.000000      0.440000  8.456000e+01  0.000000e+00  0.000000e+00
25%       10.000000      1.100000  1.084277e+04  8.544900e+02  3.006890e+03
50%       24.000000      1.370000  1.073061e+05  8.640940e+03  2.905471e+04
75%       38.000000      1.660000  4.329238e+05  1.109857e+05  1.500448e+05
max       52.000000      3.250000  6.250565e+07  2.274362e+07  2.047057e+07

               4770    Total Bags    Small Bags    Large Bags    XLarge Bags  \
count  1.825300e+04  1.825300e+04  1.825200e+04  1.825200e+04   18253.000000
mean   2.283481e+04  2.395890e+05  1.821666e+05  5.432919e+04    3105.745759
std    1.074528e+05  9.861401e+05  7.461204e+05  2.439469e+05   17691.015569
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%    0.000000e+00  5.090410e+03  2.852128e+03  1.273700e+02       0.000000
50%    1.849900e+02  3.973703e+04  2.634000e+04  2.646115e+03       0.000000
75%    6.237960e+03  1.107744e+05  8.333329e+04  2.199632e+04     132.230000
max    2.546439e+06  1.937313e+07  1.338459e+07  5.719097e+06  551693.650000

               year
count  18254.000000
mean    2016.142161
std        1.254196
min     1904.000000
25%     2015.000000
50%     2016.000000
75%     2017.000000
max     2018.000000

Categorical Variables Summary:
            Date     type            region
count      18254    18253             18254
unique       170        2                54
top     2-4-2018  organic  WestTexNewMexico
freq         109     9127               340

Detailed statistics for continuous variables

Variable: Column 1
  Range (min, max): (0.00, 52.00)
  Mean: 24.23
  Median: 24.00
  Distribution (first 5 unique values and counts):
Column 1
11    433
9     433
10    433
7     433
8     433

Variable: AveragePrice
  Range (min, max): (0.44, 3.25)
  Mean: 1.41
  Median: 1.37
  Distribution (first 5 unique values and counts):
AveragePrice
1.15    202
1.18    199
1.08    194
1.26    193
1.13    192

Variable: Total Volume
  Range (min, max): (84.56, 62505646.52)
  Mean: 850460.94
  Median: 107306.08
  Distribution (first 5 unique values and counts):
Total Volume
19634.24     2
569349.05    2
2038.99      2
2858.31      2
3288.85      2

Variable: 4046
  Range (min, max): (0.00, 22743616.17)
  Mean: 292960.53
  Median: 8640.94
  Distribution (first 5 unique values and counts):
4046
0.00    242
3.00     10
1.00      8
1.24      8
4.00      8

Variable: 4225
  Range (min, max): (0.00, 20470572.61)
  Mean: 295090.46
  Median: 29054.71
  Distribution (first 5 unique values and counts):
4225
0.00      61
215.36     3
94.74      3
1.26       3
177.87     3

Variable: 4770
  Range (min, max): (0.00, 2546439.11)
  Mean: 22834.81
  Median: 184.99
  Distribution (first 5 unique values and counts):
4770
0.00    5499
3.32       7
2.66       7
1.64       6
1.59       6

Variable: Total Bags
  Range (min, max): (0.00, 19373134.37)
  Mean: 239589.05
  Median: 39737.03
  Distribution (first 5 unique values and counts):
Total Bags
0.00      15
990.00     5
300.00     5
916.67     4
266.67     4

Variable: Small Bags
  Range (min, max): (0.00, 13384586.80)
  Mean: 182166.57
  Median: 26340.00
  Distribution (first 5 unique values and counts):
Small Bags
0.00      159
203.33     11
223.33     10
533.33     10
20.00       8

Variable: Large Bags
  Range (min, max): (0.00, 5719096.61)
  Mean: 54329.19
  Median: 2646.11
  Distribution (first 5 unique values and counts):
Large Bags
0.00     2370
3.33      187
6.67       78
10.00      47
4.44       38

Variable: XLarge Bags
  Range (min, max): (0.00, 551693.65)
  Mean: 3105.75
  Median: 0.00
  Distribution (first 5 unique values and counts):
XLarge Bags
0.00    12052
3.33       29
6.67       16
1.11       15
5.00       12

Variable: year
  Range (min, max): (1904.00, 2018.00)
  Mean: 2016.14
  Median: 2016.00
  Distribution (Value Counts):
year
1904       1
2015    5615
2016    5616
2017    5722
2018    1300

Detailed unique values for categorical variables

Variable: Date
  Unique values: ['12-27-2015' '12-20-2015' '12-13-2015' '12-6-2015' '11-29-2015'
 '11-22-2015' '11-15-2015' '11-8-2015' '11-1-2015' '10-25-2015'
 '10-18-2015' '10-11-2015' '10-4-2015' '9-27-2015' '9-20-2015' '9-13-2015'
 '9-6-2015' '8-30-2015' '8-23-2015' '8-16-2015' '8-9-2015' '8-2-2015'
 '7-26-2015' '7-19-2015' '7-12-2015' '7-5-2015' '6-28-2015' '6-21-2015'
 '6-14-2015' '6-7-2015' '5-31-2015' '5-24-2015' '5-17-2015' '5-10-2015'
 '5-3-2015' '4-26-2015' '4-19-2015' '4-12-2015' '4-5-2015' '3-29-2015'
 '3-22-2015' '3-15-2015' '3-8-2015' '3-1-2015' '2-22-2015' '2-15-2015'
 '2-8-2015' '2-1-2015' '1-25-2015' '1-18-2015' '1-11-2015' '1-4-2015'
 '12-25-2016' '12-18-2016' '12-11-2016' '12-4-2016' '11-27-2016'
 '11-20-2016' '11-13-2016' '11-6-2016' '10-30-2016' '10-23-2016'
 '10-16-2016' '10-9-2016' '10-2-2016' '9-25-2016' '9-18-2016' '9-11-2016'
 '9-4-2016' '8-28-2016' '8-21-2016' '8-14-2016' '8-7-2016' '7-31-2016'
 '7-24-2016' '7-17-2016' '7-10-2016' '7-3-2016' '6-26-2016' '6-19-2016'
 '6-12-2016' '6-5-2016' '5-29-2016' '5-22-2016' '5-15-2016' '5-8-2016'
 '5-1-2016' '4-24-2016' '4-17-2016' '4-10-2016' '4-3-2016' '3-27-2016'
 '3-20-2016' '3-13-2016' '3-6-2016' '2-28-2016' '2-21-2016' '2-14-2016'
 '2-7-2016' '1-31-2016' '1-24-2016' '1-17-2016' '1-10-2016' '1-3-2016'
 '12-31-2017' '12-24-2017' '12-17-2017' '12-10-2017' '12-3-2017'
 '11-26-2017' '11-19-2017' '11-12-2017' '11-5-2017' '10-29-2017'
 '10-22-2017' '10-15-2017' '10-8-2017' '10-1-2017' '9-24-2017' '9-17-2017'
 '9-10-2017' '9-3-2017' '8-27-2017' '8-20-2017' '8-13-2017' '8-6-2017'
 '7-30-2017' '7-23-2017' '7-16-2017' '7-9-2017' '7-2-2017' '6-25-2017'
 '6-18-2017' '6-11-2017' '6-4-2017' '5-28-2017' '5-21-2017' '5-14-2017'
 '5-7-2017' '4-30-2017' '4-23-2017' '4-16-2017' '4-9-2017' '4-2-2017'
 '3-26-2017' '3-19-2017' '3-12-2017' '3-5-2017' '2-26-2017' '2-19-2017'
 '2-12-2017' '2-5-2017' '1-29-2017' '1-22-2017' '1-15-2017' '1-8-2017'
 '1-1-2017' '3-25-2018' '3-18-2018' '3-11-2018' '3-4-2018' '2-25-2018'
 '2-18-2018' '2-11-2018' '2-4-2018' '1-28-2018' '1-21-2018' '1-14-2018'
 '1-7-2018' '1-21-1904']
  Value counts:
Date
2-4-2018      109
1-28-2018     109
1-14-2018     109
1-7-2018      109
11-22-2015    108
11-15-2015    108
12-13-2015    108
11-29-2015    108
12-27-2015    108
12-20-2015    108
6-28-2015     108
10-11-2015    108
10-4-2015     108
9-27-2015     108
9-20-2015     108
9-13-2015     108
9-6-2015      108
8-30-2015     108
8-23-2015     108
8-16-2015     108
8-9-2015      108
8-2-2015      108
7-26-2015     108
7-19-2015     108
7-12-2015     108
7-5-2015      108
5-3-2015      108
6-21-2015     108
6-14-2015     108
6-7-2015      108
5-31-2015     108
5-24-2015     108
5-17-2015     108
5-10-2015     108
4-5-2015      108
4-26-2015     108
4-19-2015     108
4-12-2015     108
11-1-2015     108
11-8-2015     108
10-25-2015    108
10-18-2015    108
12-24-2017    108
3-15-2015     108
3-29-2015     108
3-22-2015     108
3-8-2015      108
3-1-2015      108
2-22-2015     108
2-15-2015     108
1-11-2015     108
1-4-2015      108
12-25-2016    108
12-18-2016    108
2-8-2015      108
2-1-2015      108
1-25-2015     108
1-18-2015     108
11-13-2016    108
11-6-2016     108
10-30-2016    108
10-23-2016    108
10-16-2016    108
10-9-2016     108
10-2-2016     108
9-25-2016     108
9-18-2016     108
9-11-2016     108
9-4-2016      108
8-28-2016     108
12-11-2016    108
12-4-2016     108
11-27-2016    108
11-20-2016    108
7-24-2016     108
7-17-2016     108
7-10-2016     108
7-3-2016      108
6-26-2016     108
6-19-2016     108
6-12-2016     108
6-5-2016      108
5-29-2016     108
5-22-2016     108
5-15-2016     108
5-8-2016      108
5-1-2016      108
4-24-2016     108
4-17-2016     108
4-10-2016     108
4-3-2016      108
3-27-2016     108
3-20-2016     108
3-13-2016     108
3-6-2016      108
2-28-2016     108
2-21-2016     108
2-14-2016     108
2-7-2016      108
1-31-2016     108
1-24-2016     108
1-17-2016     108
8-21-2016     108
8-14-2016     108
8-7-2016      108
7-31-2016     108
1-22-2017     108
12-31-2017    108
1-3-2016      108
1-10-2016     108
12-17-2017    108
12-10-2017    108
12-3-2017     108
11-26-2017    108
10-22-2017    108
10-15-2017    108
10-8-2017     108
10-1-2017     108
11-19-2017    108
11-12-2017    108
11-5-2017     108
10-29-2017    108
8-27-2017     108
8-20-2017     108
8-13-2017     108
8-6-2017      108
7-30-2017     108
7-23-2017     108
7-16-2017     108
7-9-2017      108
7-2-2017      108
6-11-2017     108
5-28-2017     108
6-4-2017      108
9-24-2017     108
9-17-2017     108
9-10-2017     108
9-3-2017      108
2-25-2018     108
1-29-2017     108
5-14-2017     108
5-21-2017     108
5-7-2017      108
4-30-2017     108
4-23-2017     108
4-16-2017     108
3-12-2017     108
3-5-2017      108
2-26-2017     108
2-19-2017     108
4-9-2017      108
4-2-2017      108
3-26-2017     108
3-19-2017     108
2-18-2018     108
3-4-2018      108
2-5-2017      108
2-12-2017     108
1-15-2017     108
1-8-2017      108
1-1-2017      108
3-25-2018     108
1-21-2018     108
2-11-2018     108
3-11-2018     108
3-18-2018     108
12-6-2015     107
6-18-2017     107
6-25-2017     107
1-21-1904       1

Variable: type
  Unique values: ['conventional' 'organic' nan]
  Value counts:
type
organic         9127
conventional    9126

Variable: region
  Unique values: ['Albany' 'Atlanta' 'BaltimoreWashington' 'Boise' 'Boston'
 'BuffaloRochester' 'California' 'Charlotte' 'Chicago' 'CincinnatiDayton'
 'Columbus' 'DallasFtWorth' 'Denver' 'Detroit' 'GrandRapids' 'GreatLakes'
 'HarrisburgScranton' 'HartfordSpringfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'LasVegas' 'LosAngeles' 'Louisville' 'MiamiFtLauderdale'
 'Midsouth' 'Nashville' 'NewOrleansMobile' 'NewYork' 'Northeast'
 'NorthernNewEngland' 'Orlando' 'Philadelphia' 'PhoenixTucson'
 'Pittsburgh' 'Plains' 'Portland' 'RaleighGreensboro' 'RichmondNorfolk'
 'Roanoke' 'Sacramento' 'SanDiego' 'SanFrancisco' 'Seattle'
 'SouthCarolina' 'SouthCentral' 'Southeast' 'Spokane' 'StLouis' 'Syracuse'
 'Tampa' 'TotalUS' 'West' 'WestTexNewMexico']
  Value counts:
region
WestTexNewMexico       340
Albany                 338
BaltimoreWashington    338
Boise                  338
Boston                 338
Atlanta                338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
BuffaloRochester       338
LasVegas               338
LosAngeles             338
MiamiFtLauderdale      338
Louisville             338
Nashville              338
NewOrleansMobile       338
NewYork                338
Midsouth               338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
Northeast              338
RaleighGreensboro      338
RichmondNorfolk        338
Sacramento             338
Roanoke                338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SanDiego               338
SouthCentral           338
Southeast              338
StLouis                338
Spokane                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338

3.2 Inspect the earliest recorded date
- Find the earliest `Date`.
- Check if there are avocado prices recorded from the earliest date up to 2010.
- Comment: does the earliest data point look reasonable? Keep or remove?

In [23]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")

df['date'] = pd.to_datetime(df['Date'])
earliest_date = df['date'].min()
print ("Earliest date:", earliest_date)

records_1904_2010 = df[df['date'] <= '2010-1-1']
print("Number of records from up to 2010:", len(records_1904_2010))

Earliest date: 1904-01-21 00:00:00
Number of records from up to 2010: 1

Earliest data point does not look reasonable, in almost 100 years there is only one record.

3.3 Highest average price
- Find the highest value in "AveragePrice".
- Report which region it belongs to.
- Describe how you obtained the result.

In [26]:
import pandas as pd

df = pd.read_csv("Assignment 2 dataset.csv")

highest_value = df['AveragePrice'].max()
print("Highest value in 'AveragePrice':", highest_value)

region_highest_value = df.loc[df['AveragePrice'] == highest_value, 'region'].values[0]
print("Region with Highest Value:")
print(region_highest_value)

Highest value in 'AveragePrice': 3.25
Region with Highest Value:
SanFrancisco

First we look for the highest number in the "Average Price" column. Next we have to look at the "Region" column and see what region the highest number belongs to.

3.4 Highest total volume
- Find the highest total volume of avocados.
- Report which region it belongs to.
- Describe how you obtained the result.

In [28]:
most_guacs = df['Total Volume'].max()
print("Highest total volume of avocados:", most_guacs)

region_most_guacs = df.loc[df['Total Volume'] == most_guacs, 'region'].values[0]
print("Region with Highest Value:")
print(region_most_guacs)

Highest total volume of avocados: 62505646.52
Region with Highest Value:
TotalUS

Process was similar to the one above. Find the highest number of avocados in the "Total Volume" column. After that, I had to scrub the regions. The output for this one was confusing until I remembered that a total of all avocados and all regions was included.